div.table-blue {
    width: 100%;
    div.my-container {
        margin-left: 9%;
        margin-right: 9%;
    }
    div.my-table {
        width: 100%;
        border: 1px solid $tertiary-color;
        @import "../assets/style/text";
        div.extra-information {
            min-height: 86px;
            margin-right: 20%;
            display: flex;
            justify-content: flex-end;
            > p {
                margin-top: auto;
                margin-bottom: auto;
                font-family: "Quicksand";
                font-size: 24px;
                color: #333333;
                font-weight: 700;
                letter-spacing: 1.14px;
                line-height: 30px;
            }
        }
        div.information {
            background-color: $tertiary-color;
            padding: 5% 10%;
            text-align: center;
            p {
                color: #ffffff !important;
                > b {
                    color: #ffffff !important;
                }
            }
        }
        div.content {
            table {
                border-spacing: initial;
                width: 100%;
                border-collapse: collapse;
                color: #333333;
                font-family: "Quicksand";
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 1.14px;
                line-height: 30px;
                tr:nth-child(even) {
                    background-color: rgba($color: $tertiary-color, $alpha: 0.2);
                }
                thead {
                    min-height: 86px;
                    background-color: rgba($color: $tertiary-color, $alpha: 0.2);
                }
                th {
                    max-width: 218px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                td {
                    height: 48px;
                    text-align: center;
                }
                tbody,
                td,
                tfoot,
                th,
                thead,
                tr {
                    padding-left: 9%;
                    padding-right: 9%;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    div.table-blue div.my-container {
        margin-left: 4%;
        margin-right: 4%;
        div.extra-information {
            margin-right: 15%;
        }
    }

    div.table-blue {
        div.my-table .information,
        div.my-table .extra-information,
        div.my-table .content > table {
            font-size: 20px !important;
        }
    }
}
@media only screen and (max-width: 450px) {
    div.table-blue div.my-container {
        margin-left: 2%;
        margin-right: 2%;
        div.extra-information {
            margin-right: 7%;
        }
        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            padding-left: 1% !important;
            padding-right: 1% !important;
        }
    }
}
@media only screen and (max-width: 400px){
    div.table-blue div.my-container {
        div.extra-information {
            margin-right: 4%;
        }
    }
}
