@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
div.table-blue {
  width: 100%;
}

div.table-blue div.my-container {
  margin-left: 9%;
  margin-right: 9%;
}

div.table-blue div.my-table {
  width: 100%;
  border: 1px solid #0081a3;
}

div.table-blue div.my-table h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.table-blue div.my-table p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table b {
  color: #333333;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  div.table-blue div.my-table .title {
    font-size: 30px;
  }
  div.table-blue div.my-table p {
    font-size: 20px;
  }
}

div.table-blue div.my-table div.extra-information {
  min-height: 86px;
  margin-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.table-blue div.my-table div.extra-information > p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Quicksand";
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table div.information {
  background-color: #0081a3;
  padding: 5% 10%;
  text-align: center;
}

div.table-blue div.my-table div.information p {
  color: #ffffff !important;
}

div.table-blue div.my-table div.information p > b {
  color: #ffffff !important;
}

div.table-blue div.my-table div.content table {
  border-spacing: initial;
  width: 100%;
  border-collapse: collapse;
  color: #333333;
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table div.content table tr:nth-child(even) {
  background-color: rgba(0, 129, 163, 0.2);
}

div.table-blue div.my-table div.content table thead {
  min-height: 86px;
  background-color: rgba(0, 129, 163, 0.2);
}

div.table-blue div.my-table div.content table th {
  max-width: 218px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

div.table-blue div.my-table div.content table td {
  height: 48px;
  text-align: center;
}

div.table-blue div.my-table div.content table tbody,
div.table-blue div.my-table div.content table td,
div.table-blue div.my-table div.content table tfoot,
div.table-blue div.my-table div.content table th,
div.table-blue div.my-table div.content table thead,
div.table-blue div.my-table div.content table tr {
  padding-left: 9%;
  padding-right: 9%;
}

@media only screen and (max-width: 768px) {
  div.table-blue div.my-container {
    margin-left: 4%;
    margin-right: 4%;
  }
  div.table-blue div.my-container div.extra-information {
    margin-right: 15%;
  }
  div.table-blue div.my-table .information,
  div.table-blue div.my-table .extra-information,
  div.table-blue div.my-table .content > table {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 450px) {
  div.table-blue div.my-container {
    margin-left: 2%;
    margin-right: 2%;
  }
  div.table-blue div.my-container div.extra-information {
    margin-right: 7%;
  }
  div.table-blue div.my-container tbody,
  div.table-blue div.my-container td,
  div.table-blue div.my-container tfoot,
  div.table-blue div.my-container th,
  div.table-blue div.my-container thead,
  div.table-blue div.my-container tr {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

@media only screen and (max-width: 400px) {
  div.table-blue div.my-container div.extra-information {
    margin-right: 4%;
  }
}
/*# sourceMappingURL=style.css.map */