header {
  width: 100%;
}

header div#announcements {
  background-color: #789c49;
  width: 100%;
}

header div#announcements .navbar-collapse {
  z-index: 1;
  background-color: #789c49;
}

header div#announcements .dropdown-menu {
  background-color: #789c49;
}

header div#announcements li.nav-link,
header div#announcements .dropdown-menu li {
  text-decoration: underline;
}

header div#announcements .navbar-nav {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

header div#announcements a {
  color: #ffffff;
}

nav#mainNav {
  background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
  background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  height: 99px;
  width: 100%;
}

nav#mainNav .row {
  --bs-gutter-x: 0;
}

nav#mainNav button.navbar-toggler {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

nav#mainNav .dropdown-menu {
  border-top: solid white 3px;
  background-color: #a05fa6;
}

nav#mainNav ul li a {
  color: #ffffff;
}

header div#announcements .navbar-conteiner, nav#mainNav .navbar-conteiner {
  width: 100%;
  /*margin-left: 260px;
    margin-right: 260px;*/
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  margin: 0;
  border-top: solid rgba(255, 255, 255, 0.645) 1px;
}

@media only screen and (max-width: 992px) {
  header div#announcements .navbar-conteiner, header nav#mainNav .navbar-conteiner {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
  header div#announcements .bd-highlight {
    margin-left: 3%;
  }
  nav#mainNav {
    margin-left: auto;
  }
  nav#mainNav .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav#mainNav .navbar-toggler-icon {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  nav#mainNav .navbar-toggler-icon:focus {
    outline: none;
  }
  nav#mainNav hr {
    display: none;
  }
  nav#mainNav .dropdown-menu {
    border: none !important;
    background-color: transparent !important;
  }
  nav#mainNav .navbar-collapse {
    position: absolute;
    margin-top: 4.56%;
    right: 0;
    z-index: 1;
    padding: 10%;
    background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
    background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  }
}

@media only screen and (max-width: 768px) {
  nav#mainNav {
    width: 81%;
    height: 70px;
  }
  div#masthead div.masthead-content div.logo img {
    margin-left: -5px;
    margin-top: -23%;
    margin-bottom: 42% !important;
  }
}

@media only screen and (max-width: 675px) {
  nav#mainNav .navbar-collapse {
    margin-top: 7%;
  }
  nav#mainNav .navbar-conteiner {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

/*
@media only screen and (max-width: 768px) {
    nav#mainNav {
        .navbar-collapse{
            margin-top: 10%;
        }
    }
}*/
div#masthead {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div#masthead div.masthead-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../assets/image/0_home_general/curve_background.svg");
  background-repeat: no-repeat;
  background-position: 101%;
  background-position-y: top;
  background-size: 60%;
  height: 100%;
  margin-top: -1.6px;
  margin-left: 2%;
  text-align: left;
}

div#masthead div.masthead-content div.logo {
  margin-top: 5%;
  margin-bottom: 25%;
}

div#masthead div.masthead-content div.logo img {
  width: 100%;
}

div#masthead div.masthead-content .row {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

div#masthead div.masthead-content .btn {
  margin-bottom: 10px;
}

div#masthead div.masthead-content div.main-title {
  width: 80%;
  color: #a05fa6;
  font-size: 56px;
}

div#masthead div.masthead-content div.main-title h1 {
  font-family: "Quicksand";
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.4em;
}

div#masthead div.masthead-content img.main-image {
  width: 85%;
}

div#masthead div.masthead-content div.information {
  margin-top: 8%;
}

div#masthead div.masthead-content div.information .title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div#masthead div.masthead-content div.information p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div#masthead div.masthead-content div.information b {
  color: #333333;
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content div.information .title {
    font-size: 30px;
  }
  div#masthead div.masthead-content div.information p {
    font-size: 20px;
  }
}

div#masthead div.masthead-content div.information .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 64.2%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div#masthead div.masthead-content div.information .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content div.information .btn {
    width: 80%;
    font-size: 20px;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content {
    background-size: 82.8%;
    min-height: 500px;
  }
  div#masthead div.masthead-content div.information {
    margin-top: 20% !important;
  }
  div#masthead div.masthead-content div.logo img {
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  div#masthead div.masthead-content div.main-title {
    height: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    width: 60% !important;
    color: #ffffff !important;
    font-size: 56px;
  }
  div#masthead div.masthead-content div.main-title h1 {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.4em;
  }
  div#masthead div.masthead-content .col-5 {
    width: 100% !important;
    height: 30%;
  }
  div#masthead div.masthead-content .main-image {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  div#masthead div.masthead-content {
    min-height: 250px;
  }
  div#masthead div.main-title {
    margin-top: auto;
    margin-bottom: auto;
    height: 22%;
  }
}

@media only screen and (max-width: 360px) {
  div#masthead div.masthead-content {
    min-height: 220px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  div#masthead div.masthead-content div.logo img {
    width: 25%;
    height: 0%;
  }
}

@media only screen and (max-width: 320px) {
  div#masthead div.masthead-content {
    background-size: 89%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div#masthead div.masthead-content .logo {
    width: 70%;
  }
  div#masthead div.masthead-content .main-image {
    height: 60%;
    margin-top: 20%;
    float: right;
  }
  div#masthead div.masthead-content .information .sub-title,
  div#masthead div.masthead-content .information text {
    width: 90%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  div#masthead img.main-image {
    width: 100%;
    height: 100% !important;
  }
}

div.one-box {
  border-top: solid;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.one-box:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.one-box div.card {
  height: 280px;
  background-color: #dfdfdf;
  /*
        div.card-conteiner{
            margin-right: 5%;
            margin-left: 5%;
        }*/
}

div.one-box div.card .title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.one-box div.card p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.one-box div.card b {
  color: #333333;
}

@media only screen and (max-width: 768px) {
  div.one-box div.card .title {
    font-size: 30px;
  }
  div.one-box div.card p {
    font-size: 20px;
  }
}

div.one-box div.card div.card-body {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

div.one-box div.card div.card-body .row {
  height: 100%;
}

div.one-box div.card div.card-body img {
  width: 90%;
  height: 100%;
}

div.one-box div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 64.2%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.one-box div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  div.one-box div.card div.card-body .btn {
    width: 80%;
    font-size: 20px;
    width: 70%;
  }
}

div.one-box div.card div.card-body .btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #ffffff;
  margin-top: 1em;
  width: 90%;
}

@media only screen and (max-width: 768px) {
  div.one-box {
    border-top: 4px solid #755ea5;
  }
  div.one-box:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.one-box div.card {
    height: 540px;
  }
  div.one-box div.card img {
    width: 90% !important;
  }
  div.one-box div.card div.col-lg-5 {
    height: 250px;
  }
  div.one-box div.card div.col-lg-5 .btn {
    width: 76%;
    position: absolute;
    margin-bottom: 10%;
    bottom: 0;
  }
}

@media only screen and (max-width: 414px) {
  div.one-box div.card div.col-md-5 button.btn {
    width: 80% !important;
  }
}

div.two-box {
  margin-left: 2%;
  margin-right: 2%;
}

div.two-box div.card {
  height: 540px;
  background-color: #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.two-box div.card:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.two-box div.card div.card-body {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 62px;
  margin-bottom: 65px;
}

div.two-box div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 64.2%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.two-box div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  div.two-box div.card div.card-body .btn {
    width: 80%;
    font-size: 20px;
    width: 70%;
  }
}

div.two-box div.card div.card-body .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
}

div.two-box div.card div.card-body h3.card-title {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.two-box div.card div.card-body p {
  margin-top: 45px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Quicksand";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  div.two-box div.card {
    margin-bottom: 15%;
    border-top: 4px solid #755ea5;
  }
  div.two-box div.card:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.two-box div.card div.card-body {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

.text {
  width: 100%;
}

.text .basic-content {
  margin-left: 2%;
  margin-right: 2%;
}

.text .basic-content .title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

.text .basic-content p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 30px;
}

.text .basic-content b {
  color: #333333;
}

@media only screen and (max-width: 768px) {
  .text .basic-content .title {
    font-size: 30px;
  }
  .text .basic-content p {
    font-size: 20px;
  }
}

.text .basic-content li {
  color: #755ea5;
}

div.text-feature {
  width: 100%;
  background-color: #dfdfdf;
}

div.text-feature div.text-feature-content {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  padding-left: 2%;
  padding-right: 2%;
}

div.text-feature div.text-feature-content .title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-feature div.text-feature-content p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.text-feature div.text-feature-content b {
  color: #333333;
}

@media only screen and (max-width: 768px) {
  div.text-feature div.text-feature-content .title {
    font-size: 30px;
  }
  div.text-feature div.text-feature-content p {
    font-size: 20px;
  }
}

div.text-feature div.text-feature-content .title {
  margin-bottom: 2.5%;
}

footer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

footer:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

footer div.footer-content {
  width: 100%;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.67px;
  line-height: 18px;
}

footer div.footer-content div.image {
  margin-right: 4%;
}

footer div.footer-content div.image img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

footer div.footer-content div.ref-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  footer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #dfdfdf;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 4px solid #755ea5;
  }
  footer:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  footer div.footer-content {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */