@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
header {
  width: 100%;
}

header a {
  font-family: "Quicksand";
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

header div#announcements {
  background-color: #789c49;
}

header div#announcements .navbar-collapse {
  z-index: 1;
  background-color: #789c49;
}

header div#announcements .dropdown-menu {
  background-color: #789c49;
}

header div#announcements li.nav-link,
header div#announcements .dropdown-menu li {
  text-decoration: underline;
}

header div#announcements .navbar-nav {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

header div#announcements ul li a {
  color: #ffffff;
}

header div#announcements .nav-link.dropdown-toggle {
  font-weight: bold;
}

header nav#mainNav {
  background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
  background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  height: 99px;
}

header nav#mainNav .row {
  --bs-gutter-x: 0;
}

header nav#mainNav button.navbar-toggler {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

header nav#mainNav .dropdown-menu {
  border-top: solid white 3px;
  background-color: #a05fa6;
}

header nav#mainNav ul li a {
  color: #ffffff;
}

header div#announcements .navbar-conteiner,
header nav#mainNav .navbar-conteiner {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

header hr {
  margin: 0;
  border-top: solid rgba(255, 255, 255, 0.645) 1px;
}

@media only screen and (max-width: 1024px) {
  header div#announcements .navbar-conteiner,
  header nav#mainNav .navbar-conteiner {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 992px) {
  header div#announcements .navbar-conteiner,
  header nav#mainNav .navbar-conteiner {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
  header div#announcements .bd-highlight {
    margin-left: 3%;
  }
  nav#mainNav {
    margin-left: auto;
  }
  nav#mainNav .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav#mainNav .navbar-toggler-icon {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  nav#mainNav .navbar-toggler-icon:focus {
    outline: none;
  }
  nav#mainNav hr {
    display: none;
  }
  nav#mainNav .dropdown-menu {
    border: none !important;
    background-color: transparent !important;
  }
  nav#mainNav .navbar-collapse {
    position: absolute;
    margin-top: 51px;
    right: 0;
    z-index: 1;
    padding: 10%;
    background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
    background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  }
}

@media only screen and (max-width: 768px) {
  nav#mainNav {
    width: 81%;
    height: 70px !important;
  }
  nav#mainNav .navbar-collapse {
    margin-top: 37px !important;
  }
  div#masthead div.masthead-content div.logo img {
    margin-left: -5px;
    margin-top: -19%;
    margin-bottom: 42% !important;
  }
}

@media only screen and (max-width: 675px) {
  header a {
    font-size: 12px;
  }
  nav#mainNav a {
    font-size: 15px;
  }
  nav#mainNav .navbar-conteiner {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

div#masthead {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div#masthead div.masthead-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../assets/image/0_home_general/curve_background.svg");
  background-repeat: no-repeat;
  background-position: 101%;
  background-position-y: top;
  background-size: 60%;
  height: 100%;
  margin-top: -1.6px;
  margin-left: 2%;
  text-align: left;
}

div#masthead div.masthead-content div.logo {
  margin-top: 5%;
  margin-bottom: 25%;
}

div#masthead div.masthead-content div.logo img {
  width: 100%;
}

div#masthead div.masthead-content .row {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

div#masthead div.masthead-content .btn {
  margin-bottom: 10px;
  margin-left: 15%;
}

div#masthead div.masthead-content div.main-title {
  width: 80%;
  color: #a05fa6;
  font-size: 56px;
}

div#masthead div.masthead-content div.main-title h1 {
  font-family: "Quicksand";
  font-weight: bold;
  letter-spacing: 0;
  font-size: 56px;
  line-height: 75px;
}

div#masthead div.masthead-content img.main-image {
  width: 85%;
}

div#masthead div.masthead-content div.information {
  margin-top: 8%;
}

div#masthead div.masthead-content div.information h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div#masthead div.masthead-content div.information p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div#masthead div.masthead-content div.information b {
  color: #333333;
  font-weight: bold;
}

div#masthead div.masthead-content div.information a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content div.information .title {
    font-size: 30px;
  }
  div#masthead div.masthead-content div.information p {
    font-size: 20px;
  }
}

div#masthead div.masthead-content div.information .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div#masthead div.masthead-content div.information .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div#masthead div.masthead-content div.information .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content div.information .btn {
    font-size: 20px;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div#masthead div.masthead-content {
    background-size: 82.8%;
    min-height: 500px;
  }
  div#masthead div.masthead-content div.information {
    margin-top: 20% !important;
  }
  div#masthead div.masthead-content div.logo img {
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  div#masthead div.masthead-content div.main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    width: 60% !important;
    color: #ffffff !important;
    font-size: 56px;
  }
  div#masthead div.masthead-content div.main-title h1 {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.4em;
  }
  div#masthead div.masthead-content .col-5 {
    width: 100% !important;
    height: 30%;
  }
  div#masthead div.masthead-content .main-image {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  div#masthead div.masthead-content {
    min-height: 250px;
  }
  div#masthead div.main-title {
    margin-top: auto;
    margin-bottom: auto;
    height: 22%;
  }
  div#masthead div.main-title h1 {
    font-size: 27px !important;
  }
}

@media only screen and (max-width: 360px) {
  div#masthead div.masthead-content {
    min-height: 220px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  div#masthead div.masthead-content div.main-title {
    min-height: 300px;
  }
  div#masthead div.masthead-content div.logo img {
    width: 25%;
    height: 0%;
  }
}

@media only screen and (max-width: 320px) {
  div#masthead div.masthead-content div.main-title h1 {
    font-size: 25px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div#masthead div.masthead-content .logo {
    width: 70%;
  }
  div#masthead div.masthead-content .main-image {
    height: 60%;
    margin-top: 20%;
    float: right;
  }
  div#masthead div.masthead-content .information .sub-title,
  div#masthead div.masthead-content .information text {
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  div#masthead div.information {
    margin-top: 22% !important;
    width: 800px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  div#masthead img.main-image {
    width: 100%;
    height: 100% !important;
  }
}

div.one-box {
  border-top: solid;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.one-box:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.one-box div.card {
  height: 280px;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
}

div.one-box div.card h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.one-box div.card p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.one-box div.card b {
  color: #333333;
  font-weight: bold;
}

div.one-box div.card a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.one-box div.card .title {
    font-size: 30px;
  }
  div.one-box div.card p {
    font-size: 20px;
  }
}

div.one-box div.card div.card-body {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

div.one-box div.card div.card-body .row {
  height: 100%;
}

div.one-box div.card div.card-body img {
  width: 90%;
  height: 100%;
}

div.one-box div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.one-box div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.one-box div.card div.card-body .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.one-box div.card div.card-body .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.one-box div.card div.card-body .btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #ffffff;
  margin-top: 1em;
  width: 90%;
}

@media only screen and (max-width: 768px) {
  div.one-box {
    border-top: 4px solid #755ea5;
  }
  div.one-box:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.one-box div.card {
    height: 540px;
  }
  div.one-box div.card img {
    width: 90% !important;
  }
  div.one-box div.card div.col-lg-5 {
    height: 250px;
  }
  div.one-box div.card div.col-lg-5 .btn {
    width: 76%;
    position: absolute;
    margin-bottom: 10%;
    bottom: 0;
  }
}

@media only screen and (max-width: 414px) {
  div.one-box div.card div.col-md-5 button.btn {
    width: 80% !important;
  }
}

div.two-box {
  margin-left: 2%;
  margin-right: 2%;
}

div.two-box div.card {
  height: 540px;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.two-box div.card:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.two-box div.card div.card-body {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 62px;
  margin-bottom: 65px;
}

div.two-box div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.two-box div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.two-box div.card div.card-body .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.two-box div.card div.card-body .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.two-box div.card div.card-body .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
}

div.two-box div.card div.card-body h3.card-title {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.two-box div.card div.card-body h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.two-box div.card div.card-body p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.two-box div.card div.card-body b {
  color: #333333;
  font-weight: bold;
}

div.two-box div.card div.card-body a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.two-box div.card div.card-body .title {
    font-size: 30px;
  }
  div.two-box div.card div.card-body p {
    font-size: 20px;
  }
}

div.two-box div.card div.card-body p {
  margin-top: 45px;
}

@media only screen and (max-width: 768px) {
  div.two-box div.card {
    margin-bottom: 15%;
    border-top: 4px solid #755ea5;
  }
  div.two-box div.card:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.two-box div.card div.card-body {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

.text {
  width: 100%;
}

.text .basic-content {
  margin-left: 2%;
  margin-right: 2%;
}

.text .basic-content h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

.text .basic-content p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

.text .basic-content b {
  color: #333333;
  font-weight: bold;
}

.text .basic-content a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  .text .basic-content .title {
    font-size: 30px;
  }
  .text .basic-content p {
    font-size: 20px;
  }
}

.text .basic-content li {
  color: #755ea5;
}

div.text-feature {
  width: 100%;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
}

div.text-feature div.text-feature-content {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  padding-left: 2%;
  padding-right: 2%;
}

div.text-feature div.text-feature-content h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-feature div.text-feature-content p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.text-feature div.text-feature-content b {
  color: #333333;
  font-weight: bold;
}

div.text-feature div.text-feature-content a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.text-feature div.text-feature-content .title {
    font-size: 30px;
  }
  div.text-feature div.text-feature-content p {
    font-size: 20px;
  }
}

div.text-feature div.text-feature-content .title {
  margin-bottom: 2.5%;
}

div.two-box-image {
  margin-left: 2%;
  margin-right: 2%;
}

div.two-box-image .col-md-6 {
  margin-top: 170px;
}

div.two-box-image div.card {
  height: 540px;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.two-box-image div.card:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.two-box-image div.card div.image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.two-box-image div.card div.image img {
  z-index: 1;
  top: -120px;
  position: absolute;
}

div.two-box-image div.card div.card-body {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 120px;
  margin-bottom: 65px;
}

div.two-box-image div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.two-box-image div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.two-box-image div.card div.card-body .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card div.card-body .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.two-box-image div.card div.card-body .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
}

div.two-box-image div.card div.card-body h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.two-box-image div.card div.card-body p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.two-box-image div.card div.card-body b {
  color: #333333;
  font-weight: bold;
}

div.two-box-image div.card div.card-body a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card div.card-body .title {
    font-size: 30px;
  }
  div.two-box-image div.card div.card-body p {
    font-size: 20px;
  }
}

div.two-box-image div.card div.card-body p {
  margin-top: 7%;
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card {
    border-top: 4px solid #755ea5;
  }
  div.two-box-image div.card:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.two-box-image div.card div.card-body {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

@media only screen and (max-width: 450px) {
  div.two-box-image div.card div.card-body div.image img {
    top: -100px;
    width: 176px;
    height: 176px;
  }
}

div.grid {
  width: 100%;
  margin-top: 2%;
}

div.grid .row {
  width: 100%;
}

div.grid .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.grid p {
  margin-top: 10%;
  margin-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  text-align: center;
}

div.grid h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.grid p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.grid b {
  color: #333333;
  font-weight: bold;
}

div.grid a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.grid .title {
    font-size: 30px;
  }
  div.grid p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  div.grid .item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 128px;
    height: 128px;
  }
}

@media only screen and (max-width: 575px) {
  div.grid .row {
    width: 55%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  div.grid .row .col {
    height: 350px;
  }
  div.grid .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.grid .item img {
    width: 110px;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  div.grid p {
    width: 160px;
  }
}

div.grid-expand {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

div.grid-expand .row {
  width: 100%;
  margin: auto;
}

div.grid-expand img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

div.grid-expand h3 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

div.grid-expand p,
div.grid-expand h3 {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 567px;
}

div.grid-expand li {
  color: #0081a3;
}

div.grid-expand h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.grid-expand p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.grid-expand b {
  color: #333333;
  font-weight: bold;
}

div.grid-expand a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.grid-expand .title {
    font-size: 30px;
  }
  div.grid-expand p {
    font-size: 20px;
  }
}

div.cta {
  border-top: solid;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.cta:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.cta div.card {
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
}

div.cta div.card h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.cta div.card p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.cta div.card b {
  color: #333333;
  font-weight: bold;
}

div.cta div.card a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.cta div.card .title {
    font-size: 30px;
  }
  div.cta div.card p {
    font-size: 20px;
  }
}

div.cta div.card div.card-body {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

div.cta div.card div.card-body .row {
  height: 100%;
}

div.cta div.card div.card-body img {
  width: 90%;
  height: 100%;
}

div.cta div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.cta div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.cta div.card div.card-body .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.cta div.card div.card-body .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.cta div.card div.card-body .btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 45%;
}

div.cta div.card div.card-body .title {
  margin-top: 3%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  div.cta {
    border-top: 4px solid #755ea5;
  }
  div.cta:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
}

@media only screen and (max-width: 440px) {
  div.cta div.card button.btn {
    width: 90% !important;
  }
}

div.text-image-left {
  margin-left: 2%;
  margin-right: 2%;
}

div.text-image-left div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.text-image-left div.content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4%;
  margin-left: 3%;
  margin-right: 6%;
}

div.text-image-left h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-image-left p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.text-image-left b {
  color: #333333;
  font-weight: bold;
}

div.text-image-left a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.text-image-left .title {
    font-size: 30px;
  }
  div.text-image-left p {
    font-size: 20px;
  }
}

div.text-image-left h4.title {
  font-family: "Quicksand";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-image-left .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.text-image-left .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.text-image-left .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.text-image-left .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.text-image-left .btn {
  margin-top: 3%;
}

@media only screen and (max-width: 768px) {
  div.text-image-left .title {
    font-size: 24px;
  }
  div.text-image-left p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  div.text-image-left div.content div.image {
    margin: auto;
  }
  div.text-image-left div.content div.image img {
    display: none !important;
  }
  div.text-image-left .btn {
    margin-left: 10%;
  }
}

div.text-image-right {
  margin-left: 2%;
  margin-right: 2%;
}

div.text-image-right div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.text-image-right div.content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4%;
  margin-left: 6%;
  margin-right: 3%;
}

div.text-image-right h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-image-right p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.text-image-right b {
  color: #333333;
  font-weight: bold;
}

div.text-image-right a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.text-image-right .title {
    font-size: 30px;
  }
  div.text-image-right p {
    font-size: 20px;
  }
}

div.text-image-right h4.title {
  font-family: "Quicksand";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.text-image-right .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.text-image-right .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1324px) {
  div.text-image-right .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.text-image-right .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.text-image-right .btn {
  margin-top: 3%;
}

@media only screen and (max-width: 768px) {
  div.text-image-right .title {
    font-size: 24px;
  }
  div.text-image-right p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  div.text-image-right div.content div.image {
    margin: auto;
  }
  div.text-image-right div.content div.image img {
    display: none !important;
  }
  div.text-image-right .btn {
    margin-left: 10%;
  }
}

div.number-list {
}

div.number-list div.my-container {
  margin-left: 11%;
  margin-right: 11%;
}

div.number-list ol {
  counter-reset: li;
  /* Initiate a counter */
}

div.number-list ol > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  margin-left: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105px;
  position: relative;
  list-style: none;
}

div.number-list ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -2em;
  width: 105px;
  height: 105px;
  color: #a05fa6;
  font-family: Quicksand;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2.62px;
  line-height: 69px;
  border-radius: 50%;
  border: 4px solid #a05fa6;
}

div.number-list h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.number-list p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.number-list b {
  color: #333333;
  font-weight: bold;
}

div.number-list a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.number-list .title {
    font-size: 30px;
  }
  div.number-list p {
    font-size: 20px;
  }
}

div.number-list p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  div.number-list div.my-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  div.number-list ol > li {
    margin-bottom: 8%;
  }
  div.number-list ol > li:before {
    left: -1.3em;
    width: 85px;
    height: 85px;
    font-size: 25px;
  }
  div.number-list p {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 450px) {
  div.number-list div.my-container {
    margin-left: 2%;
    margin-right: 2%;
  }
}

div.table-green {
  width: 100%;
}

div.table-green div.my-container {
  margin-left: 9%;
  margin-right: 9%;
}

div.table-green div.my-table {
  width: 100%;
  border: 1px solid #789c49;
}

div.table-green div.my-table h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.table-green div.my-table p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-green div.my-table b {
  color: #333333;
  font-weight: bold;
}

div.table-green div.my-table a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.table-green div.my-table .title {
    font-size: 30px;
  }
  div.table-green div.my-table p {
    font-size: 20px;
  }
}

div.table-green div.my-table div.extra-information {
  min-height: 86px;
  margin-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.table-green div.my-table div.extra-information > p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Quicksand";
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-green div.my-table div.information {
  background-color: #789c49;
  padding: 5% 10%;
  text-align: center;
}

div.table-green div.my-table div.information p {
  color: #ffffff !important;
}

div.table-green div.my-table div.information p > b {
  color: #ffffff !important;
}

div.table-green div.my-table div.content table {
  border-spacing: initial;
  width: 100%;
  border-collapse: collapse;
  color: #333333;
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-green div.my-table div.content table tr:nth-child(even) {
  background-color: #f2f2f2;
}

div.table-green div.my-table div.content table thead {
  min-height: 86px;
  background-color: #f2f2f2;
}

div.table-green div.my-table div.content table th {
  max-width: 218px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

div.table-green div.my-table div.content table td {
  height: 48px;
  text-align: center;
}

div.table-green div.my-table div.content table tbody,
div.table-green div.my-table div.content table td,
div.table-green div.my-table div.content table tfoot,
div.table-green div.my-table div.content table th,
div.table-green div.my-table div.content table thead,
div.table-green div.my-table div.content table tr {
  padding-left: 9%;
  padding-right: 9%;
}

@media only screen and (max-width: 768px) {
  div.table-green div.my-container {
    margin-left: 4%;
    margin-right: 4%;
  }
  div.table-green div.my-container div.extra-information {
    margin-right: 15%;
  }
  div.table-green div.my-table .information,
  div.table-green div.my-table .extra-information,
  div.table-green div.my-table .content > table {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 450px) {
  div.table-green div.my-container {
    margin-left: 2%;
    margin-right: 2%;
  }
  div.table-green div.my-container div.extra-information {
    margin-right: 7%;
  }
  div.table-green div.my-container tbody,
  div.table-green div.my-container td,
  div.table-green div.my-container tfoot,
  div.table-green div.my-container th,
  div.table-green div.my-container thead,
  div.table-green div.my-container tr {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

@media only screen and (max-width: 400px) {
  div.table-green div.my-container div.extra-information {
    margin-right: 4%;
  }
}

div.table-blue {
  width: 100%;
}

div.table-blue div.my-container {
  margin-left: 9%;
  margin-right: 9%;
}

div.table-blue div.my-table {
  width: 100%;
  border: 1px solid #0081a3;
}

div.table-blue div.my-table h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.table-blue div.my-table p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table b {
  color: #333333;
  font-weight: bold;
}

div.table-blue div.my-table a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.table-blue div.my-table .title {
    font-size: 30px;
  }
  div.table-blue div.my-table p {
    font-size: 20px;
  }
}

div.table-blue div.my-table div.extra-information {
  min-height: 86px;
  margin-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.table-blue div.my-table div.extra-information > p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Quicksand";
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table div.information {
  background-color: #0081a3;
  padding: 5% 10%;
  text-align: center;
}

div.table-blue div.my-table div.information p {
  color: #ffffff !important;
}

div.table-blue div.my-table div.information p > b {
  color: #ffffff !important;
}

div.table-blue div.my-table div.content table {
  border-spacing: initial;
  width: 100%;
  border-collapse: collapse;
  color: #333333;
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.table-blue div.my-table div.content table tr:nth-child(even) {
  background-color: rgba(0, 129, 163, 0.2);
}

div.table-blue div.my-table div.content table thead {
  min-height: 86px;
  background-color: rgba(0, 129, 163, 0.2);
}

div.table-blue div.my-table div.content table th {
  max-width: 218px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

div.table-blue div.my-table div.content table td {
  height: 48px;
  text-align: center;
}

div.table-blue div.my-table div.content table tbody,
div.table-blue div.my-table div.content table td,
div.table-blue div.my-table div.content table tfoot,
div.table-blue div.my-table div.content table th,
div.table-blue div.my-table div.content table thead,
div.table-blue div.my-table div.content table tr {
  padding-left: 9%;
  padding-right: 9%;
}

@media only screen and (max-width: 768px) {
  div.table-blue div.my-container {
    margin-left: 4%;
    margin-right: 4%;
  }
  div.table-blue div.my-container div.extra-information {
    margin-right: 15%;
  }
  div.table-blue div.my-table .information,
  div.table-blue div.my-table .extra-information,
  div.table-blue div.my-table .content > table {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 450px) {
  div.table-blue div.my-container {
    margin-left: 2%;
    margin-right: 2%;
  }
  div.table-blue div.my-container div.extra-information {
    margin-right: 7%;
  }
  div.table-blue div.my-container tbody,
  div.table-blue div.my-container td,
  div.table-blue div.my-container tfoot,
  div.table-blue div.my-container th,
  div.table-blue div.my-container thead,
  div.table-blue div.my-container tr {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

@media only screen and (max-width: 400px) {
  div.table-blue div.my-container div.extra-information {
    margin-right: 4%;
  }
}

div.gallery div.my-container {
  margin-left: 2%;
  margin-right: 2%;
}

div.gallery div.my-container div.target {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  min-height: 61px;
  position: relative;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.gallery div.my-container div.target:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.gallery div.my-container div.target h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.gallery div.my-container div.target p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.gallery div.my-container div.target b {
  color: #333333;
  font-weight: bold;
}

div.gallery div.my-container div.target a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.gallery div.my-container div.target .title {
    font-size: 30px;
  }
  div.gallery div.my-container div.target p {
    font-size: 20px;
  }
}

div.gallery div.my-container div.target p {
  text-align: center;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: auto;
}

div.gallery div.my-container div.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

div.gallery div.my-container div.row .col {
  padding-right: 0;
  padding-left: 0;
  width: 49.5%;
}

div.gallery div.my-container div.row img {
  width: 100%;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  div.gallery div.my-container img {
    height: 350px !important;
  }
}

@media only screen and (max-width: 450px) {
  div.gallery div.my-container img {
    height: 180px !important;
  }
}

div.videos {
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
}

div.videos h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.videos p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.videos b {
  color: #333333;
  font-weight: bold;
}

div.videos a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.videos .title {
    font-size: 30px;
  }
  div.videos p {
    font-size: 20px;
  }
}

div.videos h3.title {
  padding-top: 3%;
  padding-bottom: 5%;
}

div.videos .my-container {
  margin-left: 2%;
  margin-right: 2%;
}

div.videos .my-container div.content {
  min-height: 322px;
  margin-bottom: 4%;
  padding-bottom: 4%;
  font-weight: normal !important;
}

div.videos .my-container div.content p {
  margin-left: 11%;
}

footer {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

footer:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

footer div.footer-content {
  width: 100%;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.67px;
  line-height: 18px;
}

footer div.footer-content p {
  margin-bottom: 2px;
}

footer div.footer-content div.image {
  margin-right: 4%;
}

footer div.footer-content div.image img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

footer div.footer-content div.ref-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  footer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 4px solid #755ea5;
  }
  footer:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  footer .image, footer .copyright, footer .ref-links {
    margin-right: 0 !important;
    padding-right: 0;
  }
  footer div.footer-content {
    font-size: 8px;
  }
  footer div.footer-content p {
    letter-spacing: 0;
    font-weight: 400;
    margin: auto;
    line-height: 10px;
  }
  footer div.footer-content a {
    height: 20;
    margin-left: 8%;
  }
}
/*# sourceMappingURL=style.css.map */