footer{
    height: 6em;
    border-top: solid;
    //el borde va a depender del diseño, ya que el borde puede ser una imagen
    border-color: $primary-color;
    background-color: $blocks-background-color;
    div.footer-content{
        align-items: center;
        margin: 1%;
        div.image{
            background-image: url('#{$route-img}app-23.png');
            background-size: contain;
            background-repeat: no-repeat;
            //el alto y ancho de la imagen probablemente cambia segun la resolucion base de la imagen pasada.
            width: 10em;
            height: 5em;
        }
        div.copyright{

        }
        div.ref-links{
            a{
                
            }
        }
    } 
}