div.grid {
    width: 100%;
    margin-top: 2%;
    .row {
        width: 100%;
        .col {
            display: flex;
            justify-content: center;
        }
    }

    p {
        margin-top: 10%;
        margin-bottom: 20%;
        display: flex;
        justify-content: center;
        width: 220px;
        text-align: center;
    }
    @import "../assets/style/text";
}

@media only screen and (max-width: 768px) {
    div.grid {
        .item img {
            display: flex;
            margin-right: auto;
            margin-left: auto;
            width: 128px;
            height: 128px;
        }
    }
}

@media only screen and (max-width: 575px) {
    div.grid {
        .row {
            width: 55%;
            display: inline-flex;

            .col {
                height: 350px;
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
        }
        .item img {
            width: 110px;
            height: 110px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            width: 160px;
        }
    }
}
