div.one-box {
    border-top: solid;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    border-top: 0.5rem solid $primary-color;
    div.card {
        @import "../assets/style/text";
        height: 280px;
        background-color: $blocks-background-color;
        /*
        div.card-conteiner{
            margin-right: 5%;
            margin-left: 5%;
        }*/
        div.card-body {
            //height: 280px;
            height: 100%;
            align-items: center;
            margin-left: 6%;
            margin-right: 6%;
            .row {
                height: 100%;
            }
            img {
                width: 90%;
                height: 100%;
            }
            @import "../assets/style/button";
            .btn {
                box-sizing: content-box;
                color: #ffffff;
                margin-top: 1em;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.one-box {
        div.card {
           
            height: 540px;
            img{
                width: 90%!important;
            }
            div.col-md-5 {
                height: 250px;
                .btn {
                    width: 80% !important;
                    position: absolute;
                    margin-bottom: 10%;
                    bottom: 0;
                }
            }
        }
    }
}
