div.text-feature{
    width: 100%;
    background: $blocks-background-color;
    div.text-feature-content{
        @import '../assets/style/text';
        padding-top: 3.5%;
        padding-bottom: 3.5%;
        padding-left: 2%;
        padding-right: 2%;
        .title{
            margin-bottom: 2.5%;
        }
    }
}