header div#announcements {
    background-color: $secundary-color;
    height: 2em;
    .dropdown-menu{
        background-color: $secundary-color;
    }
    a {
        color: #ffffff;
    }
}

.dropdown-toggle::after {
    margin-top: 0.6em;
    margin-right: 0.255em;
    float: left;
}

nav#mainNav {
    background-color: $primary-color;
    height: 4em;
    .dropdown-menu{
        background-color: $primary-color;
    }
    ul li a {
        color: #ffffff;
    }
}

@media only screen and (max-width: 1024px){
    //revisar si es que hay que desaparecer el announcements al ser celular
    header div#announcements{
        display: none;
    }
    nav#mainNav div.container{
        background-color: $primary-color;
    }
}