div.one-box {
    /*
    por si se requiere poner espacios
    */
    div.one-box-conteiner {
        border-top: solid;
        border-color: $primary-color;
        background-color: $blocks-background-color;
        div.one-box-content {
            height: 150px;
            align-items: center;
            .btn {
                margin-top: 1em;
            }
        }
    }
}
