.title {
    font-family: "Quicksand";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 50px;
    color: $title-color;
}

p {
    color: rgba($color: #000000, $alpha: 0.6);
    font-family: "Quicksand Medium";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.14px;
    line-height: 30px;
}
b {
    color: #333333;
}

@media only screen and (max-width: 768px) {
    .title{
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}
