div.two-box{
    /*
    por si se requiere poner espacios
    */
    div.box-container{
        background-color: $blocks-background-color;
        border-top: solid;
        border-color: $primary-color;
        div.content{
            padding: 4em;
        }
    }
}
