/*COLORES*/

$primary-color:#755EA5;
$primary-color-light:#A05FA6;
$secundary-color:#789C49;
$tertiary-color:#0081A3;
$title-color:#003D4C;
$route-img:'../image/';

$border-color:linear-gradient(224.77deg, #755EA5 0%, #A05EA5 100%);
$blocks-background-color:#dfdfdf;

$p-color:#333333;