
div#masthead {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    div.row{
        width: 100%;
        box-sizing: border-box;
    }
    button.btn {
        background-color: $tertiary-color;
        padding-right: 6em;
        padding-left: 6em;
        color: #ffffff;
    }
    div.masthead-content {
        width: 100%;
        margin-left: 4px;
        box-sizing: border-box;
        div.main-title {
            color: $primary-color-light;
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    div#masthead {
        .text,
        .main-title,
        .sub-title {
            width: 100% !important;
        }
    }
}
