
#masthead {
    width: 100%;
    div.masthead-content {
        margin-left: 1%;
        div.logo {
            margin-top: 2em;
            background-image: url("#{$route-img}imgEjemplo.jpeg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 8em;
            width: 20em;
            margin-bottom: 6em;
        }
        div.main-title {
            color: $primary-color-light;
            font-size: 2em;
        }
        //en caso de que se quite el texto o no, se puede quitar este apartado.
        div.text,
        .main-title,
        .sub-title {
            //width: 40%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #masthead {
        .text,
        .title,
        .sub-title {
            width: 100% !important;
        }
    }
}
