div.text-image-right {
    margin-left: 2%;
    margin-right: 2%;
    div.content {
        display: flex;
        .image {
            display: flex;
            margin-top: -4%;
            margin-left: 6%;
            margin-right: 3%;
        }
    }
    @import "../assets/style/text";
    h4.title {
        font-family: "Quicksand";
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 50px;
        color: $title-color;
    }

    @import "../assets/style/button";
    .btn {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 768px) {
    div.text-image-right {
        .title {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
}
@media only screen and (max-width: 450px) {
    div.text-image-right {
        div.content {
            div.image {
                margin: auto;
                img {
                    display: none !important;
                }
            }
        }

        .btn {
            margin-left: 10%;
        }
    }
}
