header div#announcements {
    background-color: $secundary-color;
    height: 51px;
    .dropdown-menu{
        background-color: $secundary-color;
    }
    a {
        color: #ffffff;
    }
}


nav#mainNav {
    background: $primary-color;
    height: 99px;
    .dropdown-menu{
        background-color: $primary-color;
    }
    ul li a {
        color: #ffffff;
    }
}

.navbar-conteiner{
    width: 100%;
    margin-left: 260px;
    margin-right: 260px;
}

/*
@media only screen and (max-width: 1024px){
    //revisar si es que hay que desaparecer el announcements al ser celular
    header div#announcements{
        display: none;
    }
    nav#mainNav div.container{
        background-color: $primary-color;
    }
}
*/