@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
header {
  width: 100%;
}

header a {
  font-family: "Quicksand";
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

header div#announcements {
  background-color: #789c49;
  width: 100%;
}

header div#announcements .navbar-collapse {
  z-index: 1;
  background-color: #789c49;
}

header div#announcements .dropdown-menu {
  background-color: #789c49;
}

header div#announcements li.nav-link,
header div#announcements .dropdown-menu li {
  text-decoration: underline;
}

header div#announcements .navbar-nav {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

header div#announcements ul li a {
  color: #ffffff;
}

header div#announcements .nav-link.dropdown-toggle {
  font-weight: bold;
}

header nav#mainNav {
  background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
  background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  height: 99px;
  width: 100%;
}

header nav#mainNav .row {
  --bs-gutter-x: 0;
}

header nav#mainNav button.navbar-toggler {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

header nav#mainNav .dropdown-menu {
  border-top: solid white 3px;
  background-color: #a05fa6;
}

header nav#mainNav ul li a {
  color: #ffffff;
}

header div#announcements .navbar-conteiner,
header nav#mainNav .navbar-conteiner {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

header hr {
  margin: 0;
  border-top: solid rgba(255, 255, 255, 0.645) 1px;
}

@media only screen and (max-width: 992px) {
  header div#announcements .navbar-conteiner,
  header nav#mainNav .navbar-conteiner {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
  header div#announcements .bd-highlight {
    margin-left: 3%;
  }
  nav#mainNav {
    margin-left: auto;
  }
  nav#mainNav .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav#mainNav .navbar-toggler-icon {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  nav#mainNav .navbar-toggler-icon:focus {
    outline: none;
  }
  nav#mainNav hr {
    display: none;
  }
  nav#mainNav .dropdown-menu {
    border: none !important;
    background-color: transparent !important;
  }
  nav#mainNav .navbar-collapse {
    position: absolute;
    margin-top: 51px;
    right: 0;
    z-index: 1;
    padding: 10%;
    background: -webkit-gradient(linear, left top, right top, color-stop(-40%, #a05fa6), to(#755ea5));
    background: linear-gradient(0.25turn, #a05fa6 -40%, #755ea5);
  }
}

@media only screen and (max-width: 768px) {
  nav#mainNav {
    width: 81%;
    height: 70px;
  }
  nav#mainNav .navbar-collapse {
    margin-top: 37px !important;
  }
  div#masthead div.masthead-content div.logo img {
    margin-left: -5px;
    margin-top: -23%;
    margin-bottom: 42% !important;
  }
}

@media only screen and (max-width: 675px) {
  header a {
    font-size: 12px;
  }
  nav#mainNav a {
    font-size: 15px;
  }
  nav#mainNav .navbar-conteiner {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */