@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
div.two-box-image {
  margin-left: 2%;
  margin-right: 2%;
}

div.two-box-image .col-md-6 {
  margin-top: 170px;
}

div.two-box-image div.card {
  height: 540px;
  background: linear-gradient(224.77deg, rgba(117, 94, 165, 0.2) 0%, rgba(160, 95, 166, 0.2) 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 9px solid #755ea5;
}

div.two-box-image div.card:after {
  position: absolute;
  left: 32%;
  right: 0;
  top: -9px;
  border-top: 9px solid #a05fa6;
  content: "";
}

div.two-box-image div.card div.image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.two-box-image div.card div.image img {
  z-index: 1;
  top: -120px;
  position: absolute;
}

div.two-box-image div.card div.card-body {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 120px;
  margin-bottom: 65px;
}

div.two-box-image div.card div.card-body .btn {
  background-color: #0081a3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 448px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

div.two-box-image div.card div.card-body .btn::after {
  content: url("../assets/image/0_home_general/button_chevron.svg");
  margin-top: 1%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.two-box-image div.card div.card-body .btn {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card div.card-body .btn {
    font-size: 20px;
    width: 70%;
  }
}

div.two-box-image div.card div.card-body .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
}

div.two-box-image div.card div.card-body h3.title {
  font-family: "Quicksand";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  color: #003d4c;
}

div.two-box-image div.card div.card-body p {
  color: #333333;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.14px;
  line-height: 30px;
}

div.two-box-image div.card div.card-body b {
  color: #333333;
  font-weight: bold;
}

div.two-box-image div.card div.card-body a {
  color: #0081A3;
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card div.card-body .title {
    font-size: 30px;
  }
  div.two-box-image div.card div.card-body p {
    font-size: 20px;
  }
}

div.two-box-image div.card div.card-body p {
  margin-top: 7%;
}

@media only screen and (max-width: 768px) {
  div.two-box-image div.card {
    margin-bottom: 15%;
    border-top: 4px solid #755ea5;
  }
  div.two-box-image div.card:after {
    position: absolute;
    left: 32%;
    right: 0;
    top: -4px;
    border-top: 4px solid #a05fa6;
    content: "";
  }
  div.two-box-image div.card div.card-body {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

@media only screen and (max-width: 450px) {
  div.two-box-image div.card div.card-body div.image img {
    top: -100px;
    width: 176px;
    height: 176px;
  }
}
/*# sourceMappingURL=style.css.map */