div.videos {
    background: $blocks-background-color;
    @import "../assets/style/text";

    h3.title {
        padding-top: 3%;
        padding-bottom: 5%;
    }
    .my-container {
        margin-left: 2%;
        margin-right: 2%;
        div.content {
            min-height: 322px;
            margin-bottom: 4%;
            padding-bottom: 4%;
            font-weight: normal!important;
            p {
                
                margin-left: 11%;
            }
        }
    }
}
